/* ------------------
     GLOBAL STYLES 
   ------------------ */

*, *::after, *::before {
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #333;
    font-family: "Roboto";
    color: white;
}

/* ------------------
       TYPOGRAPHY 
   ------------------ */

a{
    text-decoration: none;
    color: #777;
}

a:hover{
    color: #888;
}

p{
    font-size: 1.3rem;
    text-align: center;
}

button:disabled{
    color: #999;
}

.font-clr-light{
    color: white;
}

.winner{
    color: #333;
}

/* ------------------
         LAYOUT 
   ------------------ */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    margin: .2em;
}

.header > p{
    margin-bottom: 2em;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex: 1;
}

.result, .score, .winner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.winner{
    height: 30px;
    width: 170px;
    padding: .5em 1em;
    border-radius: 5px;
    margin-bottom: .7em;
}

.result{
    
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.result > p{
    margin: .2em;
}

.score{
    height: 20px;
    margin-bottom: .7em;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: .5em;
    padding: .5em;
    width: 490px;
}

/* ------------------
       COMPONENTS 
   ------------------ */

.winner, .score{
    visibility: hidden;
}

button{
    cursor: pointer;
    padding: .4em .8em;
    border: none;
    background-color: #999;
    width: 85px;
}

button:hover{
    background-color: #888;
}

button:disabled{
    background-color: #555;
}
